<div class="modal fade" tabindex="-1" data-confirm-target="ok">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p data-confirm-target="message"></p>
      </div>

      <div class="modal-footer justify-content-center">
        <button class="btn btn-outline-primary" data-action="confirm#confirmOk">Ok</button>
      </div>
    </div>
  </div>
</div>
