<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true" data-controller="confirm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p data-confirm-target="message"></p>
        <div class="mt-3">
          <button class="btn btn-outline-success me-2" data-bs-dismiss="modal" data-action="confirm#confirm">
            Confirmer
          </button>
          <button class="btn btn-outline-danger" data-bs-dismiss="modal" data-action="confirm#cancel">
            Annuler
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
