{% extends 'base.html.twig' %}

{% block title %}
  Mode Edition
{% endblock %}

{% block body %}
  <div class="d-flex flex-column align-items-center mt-5" data-controller="edition">
    <form action="" method="POST" class="col-4" data-edition-target="formQcm">
      <div class="card mx-auto">
        <div class="card-header text-center fw-bold card-orange">Personnalisez votre QCM :</div>
        <div class="card-body p-4">
          <fieldset>
            <div class="mb-3">
              <label for="_titre" class="form-label">Titre</label>
              <input type="text" id="_titre" name="_titre" class="form-control" placeholder="Votre titre..." />
            </div>

            <div class="mb-4">
              <label for="_description" class="form-label">Description</label>
              <textarea id="_description" name="_description" rows="5" style="resize: none;" class="form-control" placeholder="Ecrivez votre description..."></textarea>
            </div>
          </fieldset>
        </div>
      </div>

      <!-- Question 1 -->
      <div class="card mt-5 mx-auto">
        <div class="card-header d-flex align-items-start gap-2">
          <label for="q1" class="form-label mt-2">1.</label>
          <textarea id="q1" name="_question" rows="1" style="resize: none;" class="form-control" placeholder="Insérez votre question..."></textarea>
        </div>
        <div class="card-body" data-edition-target="cardReponse">
          <!-- Template qui contient la structure d'une réponse à choix unique -->
          <template id="reponseUnique">
            <div class="d-flex align-items-center gap-3" data-edition-target="divReponse">
              <!-- Bouton pour supprimer la réponse -->
              <button type="button" class="btn mb-3" title="supprimer" data-action="click->edition#supprReponse"><i class="bi bi-dash-circle" style="color: red;"></i></button>

              <!-- Input visible côté utilisateur -->
              <input type="radio" name="RadioRep" class="form-check-input mb-3" data-edition-target="reponse" disabled="false" />

              <!-- Input pour éditer la réponse -->
              <input type="text" name="editRep" class="form-control mb-3" placeholder="Mettez une réponse..." />
            </div>
          </template>

          <!-- Template qui contient la structure d'une réponse à choix multiple -->
          <template id="reponseMultiple">
            <div class="d-flex align-items-center gap-3" data-edition-target="divReponse">
              <button type="button" class="btn mb-3" title="supprimer" data-action="click->edition#supprReponse"><i class="bi bi-dash-circle" style="color: red;"></i></button>
              <input type="checkbox" name="checkboxRep" class="form-check-input mb-3" data-edition-target="reponse" disabled="false" />
              <input type="text" name="editRep" class="form-control mb-3" placeholder="Mettez une réponse..." />
            </div>
          </template>

          <!-- Template qui contient la structure d'une liste de réponses -->
          <template id="reponseListe">
            <div class="d-flex flex-wrap align-items-center gap-3 input-group" data-controller="edition-select" data-edition-target="divReponse">
              <button type="button" class="btn" title="supprimer" data-action="click->edition#supprReponse"><i class="bi bi-dash-circle" style="color: red;"></i></button>
              <input type="text" name="editRep" id="rep1" class="form-control w-auto" placeholder="Mettez un libelle..." />

              <select name="liste" id="liste1" class="form-select w-auto" data-edition-select-target="select">
                <option value="0" hidden>-- Voir les options --</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
              </select>

              <button type="button" class="btn" title="ajouter une option" data-edition-select-target="addButton" data-action="click->edition-select#showInput"><i class="bi bi-file-plus fs-4"></i></button>

              {# Formulaire d’ajout (caché par défaut) avec d-none #}
              <div class="card p-2 mt-2 d-none" data-edition-select-target="form" style="max-width: 280px">
                <input type="text" class="form-control mb-2" placeholder="Nouvelle option" data-edition-select-target="input" data-action="keydown.enter->edition-select#addOption" />

                <div class="d-flex justify-content-end gap-2">
                  <button type="button" class="btn btn-sm btn-secondary" data-action="click->edition-select#cancelForm">Annuler</button>
                  <button type="button" class="btn btn-sm btn-success" data-action="click->edition-select#addOption">Valider</button>
                </div>
              </div>
            </div>
          </template>
          <div class="d-flex flex-wrap align-items-center gap-3 input-group" data-controller="edition-select" data-edition-target="divReponse">
            <button type="button" class="btn" title="supprimer" data-action="click->edition#supprReponse"><i class="bi bi-dash-circle" style="color: red;"></i></button>
            <input type="text" name="editRep" id="rep1" class="form-control w-auto" placeholder="Mettez un libelle..." />

            <select name="liste" id="liste1" class="form-select w-auto" data-edition-select-target="select">
              <option value="0" hidden>-- Voir les options --</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </select>

            <button type="button" class="btn" title="ajouter une option" data-edition-select-target="addButton" data-action="click->edition-select#showInput"><i class="bi bi-file-plus fs-4"></i></button>

            {# Formulaire d’ajout (caché par défaut) avec d-none #}
            <div class="card p-2 mt-2 d-none" data-edition-select-target="form" style="max-width: 280px">
              <input type="text" class="form-control mb-2" placeholder="Nouvelle option" data-edition-select-target="input" data-action="keydown.enter->edition-select#addOption" />

              <div class="d-flex justify-content-end gap-2">
                <button type="button" class="btn btn-sm btn-secondary" data-action="click->edition-select#cancelForm">Annuler</button>
                <button type="button" class="btn btn-sm btn-success" data-action="click->edition-select#addOption">Valider</button>
              </div>
            </div>
          </div>
          <!--   Le type de réponse de base pour chaque question 
          <div class="d-flex align-items-center gap-3" data-edition-target="divReponse">
              <button type="button" class="btn mb-3" title="supprimer" data-action="click->edition#supprReponse"><i class="bi bi-dash-circle" style="color: red;"></i></button>
              <input type="checkbox" name="checkboxRep" class="form-check-input mb-3" data-edition-target="reponse" disabled="false" />
              <input type="text" name="editRep" class="form-control mb-3" placeholder="Mettez une réponse..." />
            </div>   -->
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center p-1">
        
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-orange btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#typeReponse">Type de réponse</button>

          <!-- Modal(PopUp) pour choisir le type de réponse -->
          <div class="modal fade" id="typeReponse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5">Choisissez un type de réponse :</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column gap-3" data-edition-target="modalBody">
                  <!-- Affiche le choix "réponses multiple" -->
                  <div class="d-flex align-items-center gap-2">
                    <input type="radio" name="radio" id="radio1" value="multiple" class="form-check-input" data-edition-target="type" />
                    <label for="radio1" class="form-check-label">Choix multiple</label>
                    <i class="bi bi-check-square fs-5"></i>
                  </div>
                  <!-- Affiche le choix "réponse unique" -->
                  <div class="d-flex align-items-center gap-2">
                    <input type="radio" name="radio" id="radio2" value="unique" class="form-check-input" data-edition-target="type" />
                    <label for="radio2" class="form-check-label">Choix unique</label>
                    <i class="bi bi-record-circle fs-5"></i>
                  </div>
                  <!-- Affiche une liste de réponse -->
                  <div class="d-flex align-items-center gap-2">
                    <input type="radio" name="radio" id="radio3" value="liste" class="form-check-input" data-edition-target="type" checked />
                    <label for="radio3" class="form-check-label">Liste de réponse</label>
                    <i class="bi bi-menu-button-wide-fill fs-4"></i>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-action="click->edition#resetReponse click->edition#changerType">Valider</button>
                </div>
              </div>
            </div>
          </div>

          <div>
            <!-- Bouton pour Ajouter une réponse -->
            <button type="button" class="btn" data-action="click->edition#ajoutReponse" title="Ajouter une Réponse"><i class="bi bi-plus-lg"></i></button>
          </div>
        </div>
      </div>

      <div class="text-center mt-4 mb-4">
        <button type="button" class="btn btn-lg" data-action="click->edition#ajoutQuestion" title="Ajouter une Question"><i class="bi bi-plus-square"></i></button>
      </div>
    </form>
  </div>
{% endblock %}
