{% extends 'base.html.twig' %}

{% block title %}
  Mode Edition
{% endblock %}

{% block body %}
  <div class="d-flex flex-column align-items-center mt-5" data-controller="edition">
    <form action="" method="POST" class="w-25">
      <div class="card mx-auto">
        <div class="card-header text-center fw-bold card-orange">Personnalisez votre QCM :</div>
        <div class="card-body p-4">
          <fieldset>
            <div class="mb-3">
              <label for="_titre" class="form-label">Titre</label>
              <input type="text" id="_titre" name="_titre" class="form-control" required placeholder="Votre titre..." />
            </div>

            <div class="mb-4">
              <label for="_description" class="form-label">Description</label>
              <textarea id="_description" name="_description" rows="5" style="resize: none;" class="form-control" placeholder="Ecrivez votre description..."></textarea>
            </div>
          </fieldset>
        </div>
      </div>

      <!-- Question 1 -->
      <div class="card mt-5 mx-auto">
        <div class="card-header">
          <textarea id="_question" name="_question" rows="1" style="resize: none;" class="form-control" placeholder="Insérez votre question..."></textarea>
        </div>
        <div class="card-body" data-edition-target="divReponse">
          <div class="mt-auto text-end" data-edition-target="addRepBtn">
            <button type="button" class="btn btn-bottom-right" data-action="click->edition#ajoutReponse" title="Ajouter une Réponse"><i class="bi bi-plus-lg"></i></button>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <button type="button" class="btn btn-lg" title="Ajouter une Question"><i class="bi bi-plus-square"></i></button>
      </div>
    </form>
  </div>
{% endblock %}
