{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<style>
    .btn-orange {
    background-color: orange;
    color: white;
    border: none; /* optionnel pour enlever la bordure */
    }

    .btn-orange:hover {
        background-color: darkorange; /* effet au survol */
    }
</style>

<div class="d-flex justify-content-center mt-5">
    <img src="https://intranet.fougeres.fr/wp-content/uploads/2019/12/Logo-foug%c3%a8res-quadri.png" alt="Logo de Fougères" width="15%" height="15%">
</div>

<div class="d-flex justify-content-center mt-5">
<div class="card shadow p-4" style="width: 350px;">
    <form action="{{ path('page_login') }}" method="POST">
        <fieldset>
            <div class="mb-3">
                <input type="text" id="_username" name="_username" class="form-control" placeholder="Nom d'utilisateur">
            </div>
            <div class="mb-3">
                <input type="password" id="_password" name="_password" class="form-control" placeholder="Mot de passe">
            </div>
            <div>
                <button type="submit" class="w-100">S'identifier</button> 
            </div>
        </fieldset>
    </form>
</div>
</div>

    
{% endblock %}
