{% extends 'base.html.twig' %}

{% block title %}
  Accueil
{% endblock %}

{% block body %}

<section class="p-2">
  <!-- Bouton toggle -->
  <button
    class="btn btn-outline-primary mb-3"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasMenu"
    aria-controls="offcanvasMenu">
    ☰ Menu
  </button>

  <a href="http://localhost/truc/qcm/public/"
     class="btn btn-outline-secondary mb-3">
     Déconnexion
  </a>
</section>

<!-- OFFCANVAS GAUCHE -->
<div
  class="offcanvas offcanvas-start show"
  tabindex="-1"
  id="offcanvasMenu"
  data-bs-backdrop="false"
  data-bs-scroll="true">

  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Menu</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Fermer">
    </button>
  </div>

  <div class="offcanvas-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Dashboard</li>
      <li class="list-group-item">QCM</li>
      <li class="list-group-item">Résultats</li>
    </ul>
  </div>
</div>

<!-- CONTENU -->
<section id="QCM" class="container-fluid mt-4">
  <p>
    Contenu principal…<br>
    Le scroll fonctionne normalement.<br>
    Ajoute beaucoup de texte pour tester.
  </p>
</section>

{% endblock %}
