# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration

# ---------------------------------
# Paramètres globaux réutilisable partout dans les configs Symfony
# ---------------------------------
parameters:
    # Langue par défaut de l'application
    locale: 'fr'

    # ------------------------
    # Paramètres de connexion LDAP / Active Directory
    # ------------------------

    ldap_host: 'ad.hdv.local'      # Adresse du serveur AD (ou LDAP) à contacter
    ldap_baseDn: 'DC=hdv,DC=local'     # Base DN pour rechercher les utilisateurs dans AD
    ldap_domain: 'hdv.local'
    # Filtre LDAP pour rechercher l'utilisateur par login
    # '{username}' sera remplacé par le login saisi dans le formulaire
    ldap_query_string: '(sAMAccountName={username})'
    ldap_searchId_dn: 'srv_portail_web@hdv.local'     # Identifiant de connexion au serveur LDAP pour les recherches
    ldap_searchPassword: 'ZtB107FB'       # Mot de passe de l'identifiant de connexion LDAP
    ldap_port: 389
    ldap_protocol_version: 3

    # ------------------------
    # Paramètres de sécurité / autorisations
    # ------------------------

    # Liste des groupes AD autorisés à se connecter à l'application
    # Laisser vide [] si aucun filtrage n'est nécessaire
    ldap_authorized_groups: []
    ldap_admin_groups:     # Liste des groupes AD avec droits d'administration dans l'application
        - CN=informatique,OU=Groupe_partagereseau,OU=GROUPES,DC=hdv,DC=local 
    ldap_authorized_primary_groups: []   # liste de groupes LDAP (AD) que l’utilisateur doit obligatoirement appartenir pour être autorisé à se connecter
    default_redirection: 'app_accueil'     # Page vers laquelle rediriger l'utilisateur après login réussi

# ---------------------------------
# Services utilisés par l'application Symfony
# ---------------------------------
services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/Entity/'
            - '../src/Kernel.php'

    # === Services LDAP === #
    # Adaptateur qui gère la connexion technique au serveur AD/LDAP
    Symfony\Component\Ldap\Adapter\ExtLdap\Adapter:
        arguments:
            - host: '%ldap_host%'
              port: '%ldap_port%'
              encryption: tls
              options:
                  protocol_version: '%ldap_protocol_version%'
                  referrals: false

    # Service principal LDAP, utilisé pour rechercher et authentifier les utilisateurs via l'adaptateur (Client)
    Symfony\Component\Ldap\Ldap:
        arguments:
            - '@Symfony\Component\Ldap\Adapter\ExtLdap\Adapter'

    # Permet d’injecter Ldap dans les classe via l’interface Ldap
    Symfony\Component\Ldap\LdapInterface: '@Symfony\Component\Ldap\Ldap'


