/* ============================= */
/* QCM buttons */
/* ============================= */

.qcm-btn {
  width: 100%; /* défaut = full */
  text-align: left;
  padding: 0.75rem 1rem;
  border: none;
  background-color: transparent;
  color: #212529;
  cursor: pointer;
  position: relative;
  transition: background-color 0.15s ease, color 0.15s ease;
}

/* Hover */
.qcm-btn:hover {
  background-color: #e7f1ff;
  color: #0d6efd;
}

/* Focus clavier */
.qcm-btn:focus-visible {
  outline: none;
  background-color: #e7f1ff;
}

/* Selected */
.qcm-btn.is-selected {
  background-color: #ffffff;
  color: #0d6efd;
  font-weight: 500;
}

/* Indicateur visuel */
.qcm-btn.is-selected::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #0d6efd;
  border-radius: 0 4px 4px 0;
}

.no-border{
  border: none;
}

.is-hidden {
  display: none !important;
}


// Pour gérer le contenue main de la page quand 
// le menu est ouvert et quand il est fermer
#content {
  transition: margin-left 0.3s ease;
}

#content.menu-open {
  margin-left: var(--bs-offcanvas-width, 400px);
}

@media (max-width: 768px) {
  #content.menu-open {
    margin-left: 0;
  }
}


:root {
  --fougeres-orange: #FF8C00;
  --fougeres-orange-dark: #E67600;
}

.btn-outline-fougeres {
  color: var(--fougeres-orange);
  border-color: var(--fougeres-orange);
  background-color: transparent;
}

.btn.btn-outline-fougeres:hover {
  color: #fff;
  background-color: var(--fougeres-orange);
  border-color: var(--fougeres-orange-dark);
}



