.btn-orange {
      background-color: orange;
      color: white;
      border: none; /* optionnel pour enlever la bordure */
      border-radius: 3px;
    }
    
.btn-orange:hover {
    background-color: darkorange; /* effet au survol */
    }